h3 {
  color: rgb(100, 204, 197);
  font-family: cursive;
  font-style: italic;
}

h2 {
  color: rgb(23, 107, 135);
  font-family: cursive;
  font-style: italic;
}

h4 {
  color: rgb(228, 154, 16);
}

h1 {
  color: rgb(23, 107, 135);
  text-align: center;
  font-family: cursive;
  font-style: italic;
}

.pic-contain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgb(100, 204, 197);
}

.boarder-s {
  width: 500px;
  border-radius: 25px;
  border: solid rgb(23, 107, 135);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 5px rgb(100, 204, 197);
}
